export GATSBY_HUB_SEGMENT_ID=4rrdmJ0QnFcs7n4tV9nBJYNtIrxxbVd5
export GRAPHCMS_ENDPOINT_URL=https://api-euwest.graphcms.com/v1/cjrw1n0x11y7501f9bq7i0kjk/master
export GATSBY_AUTH0_CLIENT_ID="VTglbp3yMwh0f5qDPUFFjMLVRp1vbE6M"
export GATSBY_BASE_DOMAIN=http://localhost:8000

export GATSBY_ENV=development

export GATSBY_BEARER_DASHBOARD_SETUP_URL=https://app.staging.bearer.sh/setup/

export GATSBY_ALGOLIA_APP_ID=KXXBSNVKD1
export GATSBY_ALGOLIA_SEARCH_API_KEY=cf02ca78402fd5cd597b1fea1e4a4ce6
export GATSBY_ALGOLIA_INDEX_NAME=dev_INTEGRATIONS

export ALGOLIA_ADMIN_API_KEY=XXXXX