/node_modules/

npm-debug.log
yarn-debug.log*
yarn-error.log*

build/**
.netlify
.envrc
.env.local

.DS_Store
.cache/
.bashrc

/public/

# To remove, I use this for testing the videos blocks
/src/videos/
.bashrc
